{deps, [
    {any, {git, "https://github.com/shortishly/any"}},
    {envy, {git, "https://github.com/shortishly/envy"}}
]}.

{plugins, [rebar3_cargo]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.
